<?php
/** @var \Adridope\People\Block\Adminhtml\Renderer\ImageFieldRenderer $block */
$element = $block->getElement();
$imageUrl = $block->getImageUrl();
?>
<div class="widget-image-field admin__field field <?php echo $element->getRequired()? 'required _required' : ''; ?>"
     data-mage-init='{
     "widgetImageField": {
            "imagePathInputSelector": "#<?php echo $element->getId(); ?>",
            "imagePreviewDivSelector": "div.file-uploader-preview",
            "imageDeleteButtonSelector": "button.action-remove",
            "mediaUrl": "<?php echo $block->getMediaUrl(); ?>"
        }
     }'
>
    <label class="label admin__field-label"><span><?php echo $element->getLabel(); ?></span></label>
    <div class="admin__field-control control">
        <button title="<?php echo __('Upload');?>"
                type="button"
                class="action-default scalable"
                onclick="<?php echo $block->getUploadButtonOnClickAction($element->getId()); ?>">
            <span><?php echo __('Upload');?></span>
        </button>
        <input id="<?php echo $element->getId(); ?>"
               name="<?php echo $element->getName(); ?>"
               type="hidden"
               value="<?php echo $element->getValue(); ?>"
               class="widget-option <?php echo $element->getRequired()? 'required-entry _required' : ''; ?>"
        />
        <div class="file-uploader-summary">
            <div class="file-uploader-preview" style="display:<?php echo $imageUrl ? 'block' : 'none'; ?>">
                <a target="_blank" href="<?php echo $imageUrl; ?>">
                    <img class="preview-image" tabindex="0" src="<?php echo $imageUrl; ?>">
                </a>
                <div class="actions">
                    <button type="button" class="action-remove" title="Delete image">
                        <span><?php echo __("Delete image"); ?></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    //<![CDATA[
    require(['mage/adminhtml/browser']);
    require(['jquery'], function ($) {
        $('#widget_options').trigger('contentUpdated');
    });
    //]]>
</script>
