//General Styles
.cms-page-view{
    .breadcrumbs{
        display: none;
    }
    p:empty{
        display: none;
    }
}

//Widget ImageBanner styles
.desktop_image{
    display: none;
}
.mobile_image{
    width: 100vw;
    margin-left: -50vw;
    left: 50%;
    position: relative;
    img{
        width: 100%;
    }
    .text_position_banner{
        color: #fff;
        font-weight: 700;
        text-align: center;
        font-size: 40px;
        position: absolute;
        top: 8%;
        right: 30px;
        left: 30px;
        line-height: 48px;
        div{
            font-size: 20px;
            line-height: 21px;
        }
    }
}

//Widget AboutUs styles
.title-about{
    margin-right: 10px;
    h4{
        color: #094a9e;
        font-size: 36px;
        font-weight: bold;
    }
}
.text-about{
    font-size: 14px;
}

//Widget People styles
.divCards{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 20px 24px 0 24px;
    padding: 5px;
    background-color: #fff;
    .card{
        position: relative;
        text-align: center;
        margin: 3px;
        border-radius: 5px;
        img{
            width: 100%;
            height: 100%;
        }
        .card-text{
            font-family: 'Cabin', sans-serif;
            font-size: 16px;
            color: #fff;
            position: absolute;
            background: rgba(0, 0, 0, 0.5);
            bottom: 0;
            left: 0;
            width: 100%;
            padding: 10px 0;
            line-height: 18px;
            span:nth-child(1){
                font-weight: 700;
            }
            span:nth-child(2){
                font-weight: 400;
            }
        }
    }
    .empty-card-1{
        background-color: #094a9e;
        margin: 3px;
    }
    .empty-card-2{
        background-color: #094a9e;
        opacity: 0.75;
        margin: 3px;
    }
    .empty-card-3{
        background-color: #094a9e;
        opacity: 0.5;
        margin: 3px;
    }
    .empty-card-4{
        background-color: #094a9e;
        opacity: 0.25;
        margin: 3px;
    }
}

//EndBlock Widget styles
.div-block-end{
    margin: 0 20px 20px 20px;
    padding: 5px;
    display: grid;
    .block-end-1{
        background: #094a9e;
        grid-column: span 2;
        padding: 15px;
        height: 272px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .block-end-2{
        background: #094a9e;
        grid-column: span 2;
        padding: 15px 63px;
        height: 272px;
        display: flex;
        justify-content: center;
        align-items: center;
        .block-end-title{
            font-size: 28px;
            color: #fff;
            font-weight: 700;
            text-align: right;
            line-height: 30px;
            .block-end-subtitle{
                font-size: 16px;
                color: #fff;
                font-weight: 700;
                text-align: right;
                line-height: normal;
            }
            .arrow {
                box-sizing: border-box;
                position: relative;
                display: block;
                transform: scale(var(--ggs,1));
                border-top: 12px solid transparent;
                border-bottom: 2px solid transparent;
                box-shadow: inset 0 0 0 2px;
                width: 57px;
                height: 17px;
                float: right;
                color: #fff;
            }
            .arrow::after {
                content: "";
                display: block;
                box-sizing: border-box;
                position: absolute;
                width: 12px;
                height: 12px;
                border-top: 2px solid;
                border-right: 2px solid;
                transform: rotate(45deg);
                right: 0;
                bottom: -4.5px;
                float: right;
            }
        }
    }
}

@media screen {
    @media (min-width: 768px) {
        //Widget People styles
        .divCards{
            grid-template-columns:  1fr 1fr 1fr;
        }

        //Widget ImageBanner styles
        .desktop_image{
            display: block;
            width: 100vw;
            margin-left: -50vw;
            left: 50%;
            position: relative;
            img{
                width: 100%;
            }
            .text_position_banner{
                color: #fff;
                font-weight: 700;
                text-align: right;
                font-size: 40px;
                position: absolute;
                top: 20%;
                right: 55%;
                left: 60px;
                line-height: 46px;
                div{
                    font-size: 20px;
                    line-height: 21px;
                }
            }
        }
        .mobile_image{
            display: none;
        }

        //EndBlock Widget styles
        .div-block-end{
            .block-end-2{
                grid-column: span 3;
                padding: 20px 146px;
                height: 275px;
                .block-end-title{
                    font-size: 36px;
                    .block-end-subtitle{
                        font-size: 20px;
                    }
                }
            }
        }
    }
    @media (min-width: 1095px) {
        //Widget People styles
        .divCards {
            grid-template-columns:  1fr 1fr 1fr 1fr 1fr;
        }

        //Widget ImageBanner styles
        .text_position_banner{
            right: 55%!important;
            left: 22%!important;
        }

        //EndBlock Widget styles
        .div-block-end {
            .block-end-2 {
                grid-column: span 5;
                padding: 20px 170px;
                height: 275px;

                .block-end-title {
                    font-size: 36px;
                    padding: 0 170px;

                    .block-end-subtitle {
                        font-size: 20px;
                    }
                }
            }
        }
    }
}
