<?php
/** \Adridope\People\Block\Widget\AboutUs $block */
?>
<div class="row mt-5 p-4">
    <div class="col-md-2">&nbsp;</div>
    <div class="col-md-4 title-about">
        <h4><?= $block->escapeHtml($block->getData('title')) ?></h4>
    </div>
    <div class="col-md-5 text-about">
        <div><?= $block->escapeHtml($block->getData('description')) ?></div>
    </div>
    <div class="col-md-1">&nbsp;</div>
</div>
