<?php

/**
 * @var \Adridope\People\Block\Widget\EndBlock $block
 */
$mediaURL = $this->_storeManager->getStore()->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_MEDIA);
?>
<?php if ($block->getData('image')): ?>
<div class="div-block-end">
    <a href="<?= $block->getData('url') ?>">
        <div class="block-end-1">
            <img class="block-end-img-storeview" alt="<?= $block->getData('image') ?>"
                        src="<?= $mediaURL . $block->getData('image') ?>">
        </div>
    </a>
</div>
<?php endif; ?>

<?php if ( $block->getData('title') ): ?>
<div class="div-block-end">
    <a href="<?= $block->getData('url') ?>">
        <div class="block-end-2">
            <p class="block-end-title">
                <?= $block->getData('title') ?><br>
                <span class="block-end-subtitle"><?= $block->getData('subtitle') ?></span><br>
                <i class="arrow"></i>
            </p>
        </div>
    </a>
</div>
<?php endif; ?>
