<?php
/** \Adridope\People\Block\Widget\ImageBanner $block */
$mediaURL = $this->_storeManager->getStore()->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_MEDIA);
?>
<div class="desktop_image">
    <img src="<?= $mediaURL.$block->escapeHtml($block->getData('desktop_image')) ?>">
    <div class="text_position_banner">
        <?= $block->escapeHtml($block->getData('title')) ?>
        <div>
           <?= $block->escapeHtml($block->getData('subtitle')) ?>
        </div>
    </div>
</div>
<div class="mobile_image">
    <img src="<?= $mediaURL.$block->escapeHtml($block->getData('mobile_image')) ?>">
    <<div class="text_position_banner">
        <?= $block->escapeHtml($block->getData('title')) ?>
        <div>
            <?= $block->escapeHtml($block->getData('subtitle')) ?>
        </div>
    </div>
</div>
