<?php

/**
 * @var \Adridope\People\Block\Widget\People $block
 */
$mediaURL = $this->_storeManager->getStore()->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_MEDIA);
$mediaURL = $mediaURL.'team/';
?>
<div class="divCards">
    <?php foreach ($block->getPeopleCollection() as $item){
        if (1){?>
            <div class="card">
                <img src="<?= $mediaURL.$item->getPicture() ?>" alt="<?= $item->getName() ?>" />
                <div class="card-text">
                    <span><?= $item->getName() ?></span><br>
                    <?php if ($item->getPosition()): ?><span><?= $block->getPositions($item) ?></span><?php endif; ?>
                </div>
            </div>
        <?php }
    } ?>
    <div class="empty-card-1"></div>
    <div class="empty-card-2"></div>
    <div class="empty-card-3"></div>
    <div class="empty-card-4"></div>
</div>
